<!-- product_app/templates/product_app/add_edit_product.html -->
{% extends 'product_app/base.html' %} {% block content %}

<div class="container mt-4">
  {% if product %}
  <h2 class="text-center mb-4 font-weight-bold">Edit Product</h2>
  {% else %}
  <h2 class="text-center mb-4 font-weight-bold">Add New Product</h2>
  {% endif %}

  <form
    method="post"
    action="{% if product %}{% url 'edit_product' product.id %}{% else %}{% url 'add_product' %}{% endif %}"
    class="needs-validation"
  >
    {% csrf_token %}

    <!-- You can adjust these fields based on your actual Product model and form structure -->

    <div class="form-group">
      <label for="item_name">Item Name:</label>
      <input
        type="text"
        class="form-control"
        name="item_name"
        value="{{ product.item_name|default:'' }}"
        autofocus
        required
      />
    </div>

    <div class="form-group">
      <label for="total_quantity">Total Quantity:</label>
      <input
        type="number"
        class="form-control"
        name="total_quantity"
        value="{{ product.total_quantity|default:''}}"
        required
      />
    </div>

    <div class="form-group">
      <label for="unit_price">Unit Price:</label>
      <input
        type="number"
        class="form-control"
        name="unit_price"
        value="{{ product.unit_price|default:''}}"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-secondary">
        {% if product %}Update Product{% else %}Add Product{% endif %}
      </button>
      <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}
