{% extends 'product_app/base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="text-center font-weight-bold">Delete Product</h1>

  {% if error_message %}
  <div class="alert alert-danger" role="alert">{{ error_message }}</div>
  {% else %}
  <p>Are you sure you want to delete the product "{{ product.item_name }}"?</p>

  <form method="post" action="{% url 'delete_product' product.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
  {% endif %}
</div>
{% endblock %}
