{% extends 'product_app/base.html'%} {% block content%}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center font-weight-bold">ITEMS IN STOCK</h1>
    </div>
    <div class="col-md-6 text-right input-group">
      <form
        class="form-inline mr-2"
        action="{% url 'search_products' %}"
        method="get"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            name="query"
          />
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <a href="{% url 'add_product' %}" class="btn btn-dark mt-2 mb-2"
        >Add New</a
      >
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(Br)</th>
        <th scope="col">Status</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    {% for product in products%}
    <tbody>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>{{product.unit_price}}</td>
        <td>
          {% if product.status == 'Confirmed' %}
          <button style="width: 100px" class="btn btn-success">
            Confirmed
          </button>
          {% elif product.status == 'Pending' %}
          <button style="width: 100px" class="btn btn-warning">Pending</button>
          {% else %}
          <button style="width: 100px" class="btn btn-secondary">
            {{ product.status }}
          </button>
          {% endif %}
        </td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                href="{% url 'product_detail' product.id %}"
                ><i class="fas fa-info-circle text-info"></i> Detail</a
              >
              {% if product.status == 'Pending' %}
              <a
                class="dropdown-item"
                href="{% url 'edit_product' product.id %}"
              >
                <i class="fas fa-edit text-primary"></i> Edit
              </a>
              <a
                class="dropdown-item"
                href="{% url 'confirm_product' product.id %}"
              >
                <i class="fas fa-check-circle text-success"></i> Confirm
              </a>
              <a
                class="dropdown-item"
                href="{% url 'delete_product' product.id %}"
              >
                <i class="fas fa-trash-alt text-danger"></i> Delete
              </a>
              {% endif %} {% if product.status == 'Confirmed' and product.total_quantity > 0 %}
              <a
                class="dropdown-item"
                href="{% url 'sell_product' product.id %}"
              >
                <i class="fas fa-dollar-sign text-success"></i> Sell
              </a>
              {% endif %}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if products.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ products.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}.
      </span>

      {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}">next</a>
      <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock%}
