{% extends 'product_app/base.html'%} {% block content%}
<br></br>

<div class = "container">
</div>

<br></br>
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(Br)</th>   
      </tr>
    </thead>
    <tbody>
      <tr>    
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>{{product.unit_price}}</td>   
      </tr>
    </tbody>  
  </table>
</div>
<h2 class="text-center mb-4 font-weight-bold">Product Sells</h2>
<div class = "container">
  <table class="table">
    <thead style="background-color: #28a745;color: #fff;">
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price(Br)</th>   
      </tr>
    </thead>
    {% for sell in sells%}
    <tbody>
      <tr>    
        <td>{{sell.patient_name}}</td>
        <td>{{sell.sell_amount}}</td>
        <td>{{sell.total_price}}</td>   
      </tr>
    </tbody> 
    {% endfor %} 
  </table>
</div>
{% endblock%}