<!-- product_app/templates/product_app/search_results.html -->
{% extends 'product_app/base.html' %} {% block content %}

<div class="container mt-4">
  <h2 class="text-center mb-4 font-weight-bold">
    Search Results for "{{ query }}"
  </h2>

  {% if products %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(Br)</th>
        <th scope="col">Status</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.item_name }}</td>
        <td>{{ product.total_quantity }}</td>
        <td>{{ product.unit_price }}</td>
        <td>
          {% if product.status == 'Confirmed' %}
          <button style="width: 100px" class="btn btn-success">
            Confirmed
          </button>
          {% elif product.status == 'Pending' %}
          <button style="width: 100px" class="btn btn-warning">Pending</button>
          {% else %}
          <button style="width: 100px" class="btn btn-secondary">
            {{ product.status }}
          </button>
          {% endif %}
        </td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                href="{% url 'product_detail' product.id %}"
                ><i class="fas fa-info-circle text-info"></i>Detail</a
              >
              {% if product.status == 'Pending' %}
              <a
                class="dropdown-item"
                href="{% url 'edit_product' product.id %}"
              >
                <i class="fas fa-edit text-primary"></i> Edit
              </a>
              {% endif %} {% if product.status == 'Pending' %}
              <a
                class="dropdown-item"
                href="{% url 'confirm_product' product.id %}"
              >
                <i class="fas fa-check-circle text-success"></i> Confirm
              </a>
              {% endif %}
              <a
                class="dropdown-item"
                href="{% url 'delete_product' product.id %}"
              >
                <i class="fas fa-trash-alt text-danger"></i> Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  <p>No results found.</p>
  {% endif %}
</div>

{% endblock %}
