{% extends 'product_app/base.html' %} {% block content %} <br /><br /><br />
<div class="body container-fluid container">
  <h2 style="color: green" class="text-center">Sell Successful!</h2>
  <p class="text-center">
    You have successfully sold
    <span style="color: dodgerblue; text-decoration: underline"
      >{{ sell.sell_amount }}</span
    >
    units of
    <span style="color: dodgerblue; text-decoration: underline"
      >{{ product }}</span
    >
    to
    <span style="color: dodgerblue; text-decoration: underline"
      >{{ sell.patient_name }}</span
    >.
  </p>
  <br />
  <h6 class="text-center">
    <a href="{% url 'home' %}"
      ><input
        type="submit"
        value="Go back to Home"
        class="btn btn-secondary"
        type="button"
    /></a>
  </h6>
</div>
{% endblock %}
