{% extends 'product_app/base.html' %} {% block content %} <br /><br /><br />
<div class="body container-fluid container">
  <h2 style="color: red" class="text-center">Sell Failed!</h2>
  <p class="text-center">{{ message }}</p>
  <br />
  <h6 class="text-center">
    <a href="{% url 'home' %}"
      ><input
        type="submit"
        value="Go back to Home"
        class="btn btn-secondary"
        type="button"
    /></a>
  </h6>
</div>
{% endblock %}
