{% extends 'product_app/base.html' %} {% block content %}

<div class="container mt-4">
  <h2 class="text-center mb-4 font-weight-bold">Sell Product</h2>

  <form
    method="post"
    action="{% url 'sell_product' product.id %}"
    class="needs-validation"
  >
    {% csrf_token %}

    <!-- Product Information -->
    <div class="form-group">
      <div class="d-flex align-items-center">
        <span class="font-weight-bold"
          >Selected Item:
          <span style="color: dodgerblue; text-decoration: underline"
            >{{ product.item_name }}</span
          ></span
        >
        <span class="ml-3 font-weight-bold"
          >Available Amount:
          <span style="color: dodgerblue; text-decoration: underline"
            >{{ product.total_quantity }}</span
          ></span
        >
      </div>
    </div>

    <!-- Patient Name -->
    <div class="form-group">
      <label for="patient_name">Patient Name:</label>
      <input type="text" class="form-control" name="patient_name" required />
    </div>

    <!-- Amount -->
    <div class="form-group">
      <label for="amount">Sell Quantity:</label>
      <input type="number" class="form-control" name="amount" required />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-secondary">Sell Product</button>
      <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}
